
<ion-view title="Memory Maps">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header" style="background: url(img/home-background.jpg) no-repeat center;">
        <form class="list" name="homeForm" novalidate>

            <div class="spacer" style="height: 40px;"></div>
            <div style="text-align:center;">
                <button class="button button-balanced icon-left ion-android-list memoryadd" ng-disabled="homeForm.$invalid" ng-click="createTextMemory()" style="margin: 0 auto;">Add Text</button> &nbsp
                <button class="button button-balanced icon-left ion-images memoryadd" ng-disabled="homeForm.$invalid" ng-click="createPhotoMemory()" style="margin: 0 auto;">Add Photo</button>                
            </div>
            <h4 class="header" style="color:white; text-align:center"> {{error_msg}} </h4>
            
        </form>
    </ion-content>
</ion-view>