
<ion-view title="Memory Maps">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list" name="homeForm" novalidate>

            <div class="spacer" style="height: 40px;"></div>
            <div style="text-align:center;">
                <button class="button button-positive icon-left ion-android-list memoryadd" ng-disabled="homeForm.$invalid" ng-click="createTextMemory()" style="margin: 0 auto;">Add Text</button> &nbsp
                <button class="button button-positive icon-left ion-images memoryadd" ng-disabled="homeForm.$invalid" ng-click="createPhotoMemory()" style="margin: 0 auto;">Add Photo</button>                
            </div>
            <h5 class="header" style="color:white; text-align:center"> {{page_message}} </h5>
            
        </form>
    </ion-content>
</ion-view>